<p style="text-align: justify">
    La información contenida en este mensaje de correo electrónico es confidencial y puede revestir el carácter de
    reservada. Está destinada exclusivamente a su destinatario. El acceso o uso de este mensaje, por parte de cualquier
    otra persona que no esté autorizada, puede ser ilegal. Si no es usted la persona destinataria, le rogamos que
    proceda a eliminar su contenido y comunicar dicha anomalía a su remitente. Protección de Datos según el establecido
    en el Reglamento General de Protección de Datos UE 2016/679 (RGPD) art. 13 y 14 y la Ley Orgánica de Protección de
    Datos y Garantía de Derechos Digitales (LOPDGDD) art. 11. Responsable: SERVICIOS TECNOLÓGICOS PARA EMPRESAS TU PC,
    S.L. Finalidad: Gestionar el envío de información y comunicaciones. Destinatarios: Los datos serán tratados por
    SERVICIOS TECNOLÓGICOS PARA EMPRESAS TU PC, S.L. y proveedores de servicio. Conservación de los datos: Los datos
    personales proporcionados se conservarán mientras no se solicite su supresión el propio interesado o durante los
    años necesarios para cumplir las obligaciones legales. Derechos: Puede ejercer sus derechos de acceso,
    rectificación, supresión, portabilidad de sus datos y a la limitación u oposición de su tratamiento, así como no ser
    objeto de decisiones individuales automatizadas, dirigiéndose por escrito, a la dirección de correo:
    info@setecem.com, debiéndose identificar debidamente y solicitar claramente el derecho a ejercer.
</p>
